body{
    margin: 0px;
    padding: 0px;
    background: none;/*chane this to 'url(piclogation.jpg)' if you want a picture in the background*/
    background: size;
    user-select: none;
    font-family: 'Assistant' , sans-serif;
}

.loginbox{
    width: 320px;
    height: 420px;
    background: white;
    color: black;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box ;
    border-color: #C4333F;
    border-width: 3rem;
}

.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top:-50px;
    left: calc(50% - 50px);
}

.login-form{
    width: 320px;
    height: 420px;
    background: white;
    color: black;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box ;
    border-color: #C4333F;
    border-width: 3rem;
}

.login-form-form .title{
    font-size: 25px;
    font-weight: 500;

}

.container form .user-details{
    display: flex;
    flex-wrap: warp;
}

form .user-details{
    
}